!**/ .gitkeep

__history/
__pycache__/

.ipynb_checkpoints/
.vscode

data/datasets/ami/**/*.csv

# da symlink
# data/embeddings
# data/images

*.png
*.pt
*.npy
*.joblib

# data/images/anomalies/**/*.png
data/images/padding_experiment/**/*.png

environment_verbose.yml